@model Northwind.EntityModels.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-flush h-md-100 mb-5 mb-lg-10">
            <div class="card-header pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Customer Details</span>
                    @* <span class="text-gray-500 mt-1 fw-semibold fs-6">Are you sure you want to delete this ?</span> *@
                </h3>
            </div>
            <div class="card-body pt-5 pb-0">
                @foreach (var prop in Model.GetType().GetProperties())
                {
                    @if (prop.Name != "Orders")
                    {
                        <div class="d-flex flex-stack">
                            <div class="text-gray-700 fw-semibold fs-6 me-2">@Html.DisplayName(prop.Name)</div>
                            <div class="d-flex align-items-senter">
                                <span class="text-gray-900 fw-bolder fs-6">@prop.GetValue(Model)</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed my-3"></div>
                    }
                }
            </div>
            <div class="card-footer text-end">
                <a asp-action="Index" class="btn btn-light btn-sm">Back to List</a>
                <a asp-action="Edit" asp-route-id="@Model?.CustomerId" class="btn btn-primary btn-sm">Edit</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Customer's Order Details</span>
                </h3>
            </div>
            <div class="card-body table-responsive">
            @if (Model.Orders.Any())
            {
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Order Date</th>
                            <th>Required Date</th>
                            <th>Shipped Date</th>
                            <th>Freight</th>
                            <th>Ship Name</th>
                            <th>Ship Address</th>
                            <th>Ship City</th>
                            <th>Ship Region</th>
                            <th>Ship Postal Code</th>
                            <th>Ship Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.CustomerId</td>
                                <td>@order.OrderDate</td>
                                <td>@order.RequiredDate</td>
                                <td>@order.ShippedDate</td>
                                <td>@order.Freight</td>
                                <td>@order.ShipName</td>
                                <td>@order.ShipAddress</td>
                                <td>@order.ShipCity</td>
                                <td>@order.ShipRegion</td>
                                <td>@order.ShipPostalCode</td>
                                <td>@order.ShipCountry</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No orders found for this customer.</p>
            }
            </div>
        </div>
    </div>
</div>